doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Community Case Study
  link(href='css/project-style.css' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Lobster&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='flexboxgrid.css' type='text/css')
header
  .header__title
    h1.header__h1 My Community
    h2.header__h2 A Social Media platform for new people in town.
main
  .about.section
    .section__title.section__title--pink
      h2 About the Project
    .section__container.section__container--grid2
      p.section__text
        | My Community is a social media platform that aims to gather communities
        | and help newcomers and immigrants to have an easy adaptation process.
      .section__image
        img(src='img/maps.png' alt='maps')
  .challenge.section
    .section__title.section__title--pink
      h2 The Challenge
    .section__container
      .section__text
        p
          | Migrants from all around the world experiences the same problems.
      .section__text
        ul
          li
            h3 Language Barriers
            p Not feeling comfortable speaking in another language.
          li
            h3 Housing
            p Not being able to find a suitable place to stay.
          li
            h3 Isolation
            p Feeling lonely and not having anyone to talk to.
          li
            h3 Paperwork and Legal Documents
            p They feel lonely and can not find anyone to refuge.
  .process.section
    .section__title.section__title--pink
      h2 The Process
    .section__container
      h3 Build. Measure. Learn.
  .research.section
    .section__title.section__title--pink
      h2 Research &amp; Problem Definition
    .section__container
      h3 Hypothesis
      h4 Conducting User Survey
    .section__container
      h3 Research
      h4 Results
    .section__container
      h3 Personas
    .section__container
      h3 Design Impact
    .section__container
      h3 User Stories and MVP
    .section__container
      h3 User Flow
  .design.section
    .section__title.section__title--pink
      h2 Design Exploration
    .section__container
      h3 Ideating Solutions
      h4 Low-fidelity Wireframes
      h4 Findings
      h4 Design Solutions
    .section__container
      h3 Prototyping
      h4 Mid-fidelity Wireframes
      h4 Findings
      h4 Design Solutions
    img(src='' alt='mid-fidelity wireframes')
    .section__container
      h3 Visual Design
    img(src='' alt='Product Prototype')
    .section__container
      h3 Designed for Simplifications
  .wrapping.section
    .section__title.section__title--pink
      h2 Wrapping Up
    h3 What I have learned from this project?
    ul
      li
      li
      li
